:root {
  --border-radius: 0.75rem;
  --box-shadow: 0.1rem 0.1rem 0.5rem rgb(227, 227, 227);
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --very-dark-cyan: hsl(157, 45%, 20%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);
  --secound-font-family: 'Fraunces', serif;

  font-size: 14px;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  align-items: center;
  background: var(--cream);
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.product-card {
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-wrap: wrap;
  height: 32.15rem;
  width: 43rem;
}

.product-image {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  height: 100%;
  width: 50%;
}

.product-details {
  height: 100%;
  width: 50%;
}

.product-details > * {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.product-category {
  color: var(--dark-grayish-blue);
  font-size: 0.86rem;
  letter-spacing: 0.35rem;
  margin-top: 2.3rem;
  text-transform: uppercase;
}

.product-name {
  color: var(--very-dark-blue);
  font-family: var(--secound-font-family);
  font-weight: 700;
  font-size: 2.25em;
  line-height: 2.32rem;
  margin-top: 1.4rem;
  margin-bottom: 0;
}

.product-description {
  color: var(--dark-grayish-blue);
  line-height: 1.64rem;
  margin-top: 1.65rem;
}

.price-wrapper {
  align-items: center;
  column-gap: 1.3em;
  display: flex;
  margin-top: 1.8rem;
}

.current-price {
  color: var(--dark-cyan);
  font-family: var(--secound-font-family);
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.old-price {
  color: var(--dark-grayish-blue);
  font-size: 0.95rem;
  text-decoration: line-through;
}

.add-to-cart {
  align-items: center;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 0.8rem;
  height: 3.45rem;
  justify-content: center;
  letter-spacing: 0.04rem;
  margin-top: 1.88rem;
  width: 16.9rem;
}

.add-to-cart:active {
  background-color: var(--very-dark-cyan);
}

@media only screen and (max-width: 600px) {
  .product-card {
    margin-top: 0.8rem;
    width: 24.5rem;
    height: 43.8rem;
  }

  .product-image {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    content: url('../src/images/image-product-mobile.jpg');
    width: 100%;
    height: 17.2rem;
  }

  .product-details {
    width: 24.5rem;
  }

  .product-details > * {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }

  .product-category {
    margin-top: 1.65rem;
  }

  .product-name {
    margin-top: 0.8rem;
  }

  .product-description {
    margin-top: 1.1rem;
  }

  .price-wrapper {
    margin-top: 1.45rem;
  }

  .add-to-cart {
    margin-top: 1.15rem;
    width: 21.1rem;
  }
}
